 html {
        box-sizing: border-box;
    }
    *, *:before, *:after {
        box-sizing: inherit;
    }

    body{
        margin: 0px;
        font-family: 'Open Sans', sans-serif;
        //Everything is open sans unless otherwise specified in the css, Makes it easier than having to declare it all the time.
        margin:0;
        padding:0;
        height:100%;
        background-color: #E8E8E8;
    }

    h1{
        font-family: "Great Vibes", "Brush Script";
        font-size: 100px;
        font-weight: normal;
    }


    h2{
        font-family: "Great Vibes", "Brush Script";
        font-size: 60px;
        font-weight: normal;
    }

    h3{
        text-align: center;
        font-size: 45px;
        font-weight: normal;
        font-family: "Great Vibes", "Brush Script";
    }

    h4{
        //text-align: center;
        font-size: 20px;
        margin: 0px;
    }

    p{
    
    }

    a{
        padding: 0px;
        margin: 0px;
    }
    .break {
        margin-bottom: 10px;
    }
/*    .navAndTitle {
        background-color: lightgrey;
    }*/
    .mobileLogoDiv {
        width: 100%;
        text-align: center;
        padding-right: 15px;
        padding-top: 5px;
        text-shadow: #e0e0e0 1px 1px 0;
    }
    .mobileLogo {
        /*color: rgba(30, 196, 184, 0.6);*/
        color: #1db2a3;
       /* color: pink;*/
        font-family: "Great Vibes", sans-serif;
        font-size: 25px;
        //width: 26%;
        //line-height: 32px;
        padding: 6px 0px 0px 5px;
        text-align: center;
        text-decoration: none;
    }
    .hamburgerMenu {
        text-align: center;
        padding-bottom: 5px;
    }

    .clear {
        clear: both;
    }

/*    .mainTitleDropShadowTop {
        box-shadow:inset 0 15px 7px -10px #111;
        width: 100%;
        height: 2px;
        opacity: 0.3;
    }*/
    .mainBodyImage {
        width: 100%;
        height: 200px;
       /* box-shadow:inset 0 -15px 7px -16px #111;*/
        background-image: url("../Images/bnr-img_edited2.jpg");
        background-size: cover;
        background-repeat: no-repeat;
        box-shadow: inset 1px 4px 9px -6px;

    }
    
    .mainTitle {
        padding: 0px;
        margin: 0px;
        font-family: "Great Vibes", sans-serif;
        font-size: 25px;
        text-align: center;
        border-top: 1px white solid;
        border-bottom: 1px white solid;
        color: white;
        /*margin-bottom: 20px;*/
        box-shadow: 10px 10px 5px #888888;
        padding-bottom: 5px;
        background-color: lightpink;
        z-index: 99;
    }

    .mainTitleBottom {
        padding: 0px;
        margin: 0px;
        font-family: "Great Vibes", sans-serif;
        border-top: 1px white solid;
        border-bottom: 1px white solid;
        color: white;
        margin-bottom: 20px;
        box-shadow: 0 2px 2px 2px gray;
        background-color: #1db2a3;
        text-align: center;
    }
    .mainTitle p {
        font-size: 25px;
        font-weight: bold;
        margin: 3px 0px;
    }

    .mainTitleBottom p {
        font-size: 30px;
        font-weight: bold;
        margin: 5px 0px;
    }
    .contentContainer p {
        padding: 0px 10px;
    }
    .contentContainer {
        padding-top: 10px;
        box-shadow:inset 0 15px 7px -16px #111;
    }
   /* .intro {
        background-color: #E8E8E8;
    }*/

    .stepTitle {
      text-align: center;
      width: 100%; 
      background-color: lightblue;
      margin-bottom: 10px;
      border-top: solid 1px white;
      border-bottom: solid 1px white;
      box-shadow: 0 4px 2px -2px gray;
    }
    .stepTitle p {
      font-size: 24px;
      color: white;
      margin: 5px 0px;
    }
     
    .introMessage {
        width: 100%;
        text-align: center;
    }

    .introMessage p {
        text-align: center;
        font-size: 30px;
        font-weight: bold;
        color: white;
        margin: 5px;
    }

    .introMessage img {
        width: 90%;
        height: auto;
        border: solid 3px #1db2a3;
        text-align: center;
        margin: 0 auto;
        margin: 5px;
    }
    .introMessageText_Img {
        background-color: white;
    }
    .introMessageText_Img img{
        width: 50%;
        height: 150px;
        border: solid 1px white;
        box-shadow: 0 5px 2px -2px gray;
    }
    .introMessageText_Img p {
        width: 45%;
        padding: 5px;
        font-size: 20px;
        text-align: center;
        /*color: #1db2a3;*/
        font-weight: bold;
        color: white;
    }
    .introLeftImg {
        float: left;
    }
    .introRightImg {
        float: right;
    }
    .introLeftText {
        float: right;
    }
    .introRightText {
        float: left;
    }
    .yesMessage {
        text-align: center;
        border-top: 1px solid white;
        border-bottom: 1px solid white;
        color: white;
        background-color: lightpink;
        margin: 10px 0px;
        box-shadow: 0 5px 2px -2px gray;
        padding: 5px;
    }
    .yesMessage p {
        font-size: 20px;
    }
    .transitionAnimation {
      position: fixed;
      width: 100%;
      height: 100vh;
      display: none;
      z-index: 20;
      top: 0;
      left: 0px;
    }
    .animationLeft {
      width: 50%;
      height: 100vh;
      background-color: black;
      position: absolute;
      left: -50%;
    }

    .animationRight {
      width: 50%;
      height: 100vh;
      background-color: black;
      position: absolute;
      right: -50%;
    }
    .animationImage {
      position: absolute;
      z-index: 23;
      display: none;
      width: 300px;
      height: 200px;
      left: 50%;
      top: 50%;
      transform: translate(-50%, -50%);
    }
    .animationImage img {
      width: 100%;
      height: 100%;
    }

    /*******************************
    START NAV
    ********************************/

    nav{
        margin-top: 10px;
        display: none;
        
    }

    nav ul{
        //border: solid blue 1px;
        padding: 0px;
        margin: 0px;
        width: 100%;
        text-align: justify;
        justify-content: space-between;
    }

    nav ul li{
        padding: 0px;
        margin: 0px;
    }

    nav ul #empty{
        //border: solid 1px violet;
        width: 0;
        padding: 0;
        display: none;
    }

    nav ul li a{
        //border: solid 1px;
        color: black;
        text-decoration: none;
        padding-left: 10px;
    }

    nav ul li ul{
        display: none;
        padding: 0px;
        margin: 0px;
    }

    nav ul li ul li{
        padding-left: 20%;
        font-size: 15px;
    }

    .downArrow {
        margin: 0px;
        padding: 0px;
        line-height: 0px;
        float: right;
        padding-right: 10px;

    }

    #navlogo{
        font-family: "Great Vibes", sans-serif;
        font-size: 25px;
        //width: 26%;
        //line-height: 32px;
        padding: 6px 0px 0px 5px;
        display: none;
    }

    #navApptlink{
        color: #e06161;
        font-weight: bold;
    }

    #navApptlink div{
        background-color: rgba(224, 97, 97, 0.2);    
        width: 100%;
        text-align: center;
    }

    #apptArrow{
        font-size: 20px;
        //margin-left: 3px;
        transition: transform 0.5s;
    }
    
    #contactDropdown .socialLink{
    //border: solid 1px;
    border-radius: 50%;
    display: inline-block;
    width: 30px;
    height: 30px;
    margin-top: 5px;
    margin-right: 7px;
    }

    #contactDropdown img{
        //border: solid orange 1px;
        border-radius: 50%;
        width: 100%;
        background-color: rgb(150, 150, 150);
    }
    .socialMediaFooterIcons {
        width: 40%;
        margin: 0 auto;
        height: 30px;
       /* background-color: red;*/
        text-align: center;
        float: left;
        padding-left: 5px;
    }
    .socialLinkFooter{
        float: left;
        padding: 0px;
        margin: 5px;
        font-size: 0px;
        line-height: 0px;
        width: 25px;
        height: 25px;
        background-color: lightgrey;
        border-radius: 50%;
        border: solid 1px white;
    }
    .socialLinkFooter img {
        width: 100%;
    }
    .contactFooter{
        font-size: 10px;
        padding-bottom: 5px;
        padding-right: 5px;
        width: 60%;
        float: left;
        text-align: right;
    }

/*    .Wrapper{
        height:100%;
        position:relative;
    }*/
    
    footer{
        background-color: lightgrey;
        height: 70px;
        width:100%;
        height:100px;
    }
   


    

    /*******************************
    slow transition dropdowns end
    ********************************/

@media screen and (min-width: 330px) {
    .mainTitle p {
        font-size: 30px;
    }
      .yesMessage p {
        font-size: 25px;
    }
    .stepTitle p {
      font-size: 30px;
    }
}  

