
body {
 /* background-color: lightgrey;*/
}
p {
  font-size: 12px;
  margin: 0px;
  padding: 0px;
  
}
a {
  text-decoration: none;
}
.clear {
  clear: both;
}

.introMessageText_Img {
    background-color: white;
}


.slide {
  width: 100%;
  color: white;
  font-size: 3em;
  text-align: center;
  display: none;
}

.imgDisplay img {
  width: 20%;
  height: 75px;
  display: inline-block;
}

.imgDisplay {
  height: 100%;
  width: 100%;
  display: none;
}

.imgDisplay ul{
  list-style-type: none; 
  padding: 0px;
  margin: 0px;
  padding-top: 10px;
  text-align: center;
}

.imgDisplay ul li {
  display: inline;
}

.bigImg {
  width: 100%;
  margin: 0 auto;
}
.bigImg img {
  width: 100%;
  height: 80%;
  margin: 0 auto;
}
.checkBoxes {
  width: 70px;
  height: 70px;
  float: left;
  position: relative;
  background: #fcecfc;
  background: -webkit-linear-gradient(top, #fcfff4 0%, #dfe5d7 40%, #b3bead 100%);
 background: linear-gradient(to bottom, #fcfff4 0%, #dfe5d7 40%, #b3bead 100%);
  box-shadow: inset 0px 1px 1px white, 0px 1px 3px rgba(0, 0, 0, 0.5);
  margin-left: 5px;
}
.checkBoxes label {
  width: 56px;
  height: 56px;
  cursor: pointer;
  position: absolute;
  left: 7px;
  top: 7px;
  background: #fcecfc;
  background: -webkit-linear-gradient(top, #222222 0%, #45484d 100%);
  background: linear-gradient(to bottom, #222222 0%, #45484d 100%);
  box-shadow: inset 0px 1px 1px rgba(0, 0, 0, 0.5), 0px 1px 0px white;
}
.checkBoxes label:after {
  content: '';
  width: 45px;
  height: 20px;
  position: absolute;
  top: 15px;
  left: 7px;
  border: 10px solid #fcfff4;
  border-top: none;
  border-right: none;
  background: transparent;
  opacity: 0;
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
}
.checkBoxes label:hover::after {
  opacity: 0.3;
}
.checkBoxes input[type=checkbox] {
  visibility: hidden;
}
.checkBoxes input[type=checkbox]:checked + label:after {
  opacity: 1;
}

.box{
  width:68%;
  height:200px;
  background-color:white; 
  float: right;
  border-radius:5px;
  padding-top: 10px;
  position: relative;
  margin-bottom: 20px;
  margin-right: 10px;
}


.box5{
  background-color: #1db2a3;
  height: 300px;
}
.box6{
  background-color: #1db2a3;
  width: 90%;
  height: 400px;
}

.shadow5,.shadow6 {
  position:relative;
}
.shadow5,.shadow6 {
    box-shadow:0 1px 4px rgba(0, 0, 0, 0.3), 0 0 20px rgba(0, 0, 0, 0.1) inset;
    padding-top: 10px;
}

.shadow5 p, .shadow6 p {
  width:95%;
  margin-left:6%;
 /* border:2px dashed #F7EEEE;*/
  border-radius:5px;
  padding: 3px;
  font-size: 18px;
  text-align: left;
  line-height: 23px;
  font-weight: bold;
  color: white;
  margin-bottom: 15px;
}

/*.shadow5 p {
  height:150px;
}

.shadow6 p {
  height: 250px;
}*/

.guideThreeCheckOne p {
  font-size: 15px;
  line-height: 15px;
}

.shadow5:before, .shadow5:after{
  content:"";
  position: absolute;
  box-shadow:0 10px 25px 20px #518C96;
  top:40px;left:10px;bottom:50px;
  width:15%;
  z-index:-1;
  -webkit-transform: rotate(-8deg);
  -moz-transform: rotate(-8deg);
  transform: rotate(-8deg);
}
.shadow5:after{
  -webkit-transform: rotate(8deg);
  -moz-transform: rotate(8deg);
  transform: rotate(8deg);
  right: 10px;left: auto;
}
.shadow6:before, .shadow6:after{
  content:"";
  position: absolute;
  top:100px;bottom:5px;left:30px;right:30px;
  z-index:-1;
  box-shadow:0 0 40px 13px #486685;
  border-radius:100px/20px; 
}
.flip {
  -webkit-perspective: 800;
   width: 75%;
   height: 420px;
    position: relative;
    float: right;
}

.flip .card.flipped {
  -webkit-transform: rotatey(-180deg);
}
.flip .card {
  width: 100%;
  height: 100%;
  -webkit-transform-style: preserve-3d;
  -webkit-transition: 0.5s;
}
.flip .card .face {
  width: 100%;
  height: 100%;
  position: absolute;
  -webkit-backface-visibility: hidden ;
  z-index: 2;
    /*font-family: Georgia;*/
    text-align: center;
}
.flip .card .front {
  position: absolute;
  z-index: 1;
    cursor: pointer;
}
.flip .card .back {
  -webkit-transform: rotatey(-180deg);
    color: black;
    cursor: pointer;
}
.card img {
  width: auto;
  height: 200px;
}
.flip p {
  padding: 5px;
  font-size: 18px;
  text-align: left;
  line-height: 23px;
  font-weight: bold;
  color: white;
  margin-bottom: 15px;
}

@media screen and (min-width: 400px) {
  
    .#checkBoxes {
      width: 100px;
      height: 100px;
    }

    .#checkBoxes label {
      width: 86px;
      height: 86px;
    }

    .#checkBoxes label:after {
      top: 18px;
      left: 15px;
    }
}