/*.flip {
  -webkit-perspective: 800;
   width: 400px;
   height: 200px;
    position: relative;
    margin: 50px auto;
}
.flip .card.flipped {
  -webkit-transform: rotatey(-180deg);
}
.flip .card {
  width: 100%;
  height: 100%;
  -webkit-transform-style: preserve-3d;
  -webkit-transition: 0.5s;
}
.flip .card .face {
  width: 100%;
  height: 100%;
  position: absolute;
  -webkit-backface-visibility: hidden ;
  z-index: 2;
    font-family: Georgia;
    font-size: 3em;
    text-align: center;
    line-height: 200px;
}
.flip .card .front {
  width: 100%;
  position: absolute;
  z-index: 1;
    background: black;
    color: white;
    cursor: pointer;
}
.flip .card .back {
  width: 100%;
  -webkit-transform: rotatey(-180deg);
    background: blue;
    background: white;
    color: black;
    cursor: pointer;
}
.card img {
	width: 100%;
}*/

body {
  background-color: lightgrey;
}
p {
  font-size: 12px;
  margin: 0px;
  padding: 0px;
  
}
.clear {
  clear: both;
}
.checks {
  width: 100%;
  margin-bottom: 10px;
}

.slide {
  width: 75%;
  float: right;
  height: 300px;
  background-color: black;
  color: white;
  font-size: 3em;
  text-align: center;
}
.slide img {
  width: 100px;
  height: 100px;
}
.imgDisplay {
  display: none;
}
.imgGallery {
  width: 80%;
  margin: 0 auto;
  background-color: lightgrey;
}

.imgGallery ul{
  list-style-type: none; 
  padding: 0px;
  margin: 0px;
  padding-top: 10px;
}

.imgGallery ul li {
  display: inline-block;
}

.bigImg {
  width: 80%;
  height: 400px;
  margin: 0 auto;
  background-color: grey;
}
.bigImg img {
  height: 100%;
  width: 100%;
  margin: 0 auto;
}

.flip {
  -webkit-perspective: 800;
   width: 75%;
   height: 300px;
    position: relative;
    float: right;
}
.flip .card.flipped {
  -webkit-transform: rotatey(-180deg);
}
.flip .card {
  width: 100%;
  height: 100%;
  -webkit-transform-style: preserve-3d;
  -webkit-transition: 0.5s;
}
.flip .card .face {
  width: 100%;
  height: 100%;
  position: absolute;
  -webkit-backface-visibility: hidden ;
  z-index: 2;
    font-family: Georgia;
    font-size: 3em;
    text-align: center;
}
.flip .card .front {
  position: absolute;
  z-index: 1;
    background: black;
    color: white;
    cursor: pointer;
}
.flip .card .back {
  -webkit-transform: rotatey(-180deg);
    color: black;
    cursor: pointer;
}
.card img {
  width: auto;
  height: 100%;
}
.squaredTwo, .squaredThree, .squaredFour, .squaredFive{
  width: 100px;
  height: 100px;
  float: left;
  position: relative;
  background: #fcfff4;
  background: -webkit-linear-gradient(top, #fcfff4 0%, #dfe5d7 40%, #b3bead 100%);
  background: linear-gradient(to bottom, #fcfff4 0%, #dfe5d7 40%, #b3bead 100%);
  box-shadow: inset 0px 1px 1px white, 0px 1px 3px rgba(0, 0, 0, 0.5);
}
.squaredTwo label, .squaredThree label, .squaredFour label, .squaredFive label {
  width: 86px;
  height: 86px;
  cursor: pointer;
  position: absolute;
  left: 7px;
  top: 7px;
  background: -webkit-linear-gradient(top, #222222 0%, #45484d 100%);
  background: linear-gradient(to bottom, #222222 0%, #45484d 100%);
  box-shadow: inset 0px 1px 1px rgba(0, 0, 0, 0.5), 0px 1px 0px white;
}
.squaredTwo label:after, .squaredThree label:after, .squaredFour label:after, .squaredFive label:after {
  content: '';
  width: 50px;
  height: 25px;
  position: absolute;
  top: 18px;
  left: 15px;
  border: 10px solid #fcfff4;
  border-top: none;
  border-right: none;
  background: transparent;
  opacity: 0;
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
}
.squaredTwo label:hover::after, .squaredThree label:hover::after, .squaredFour label:hover::after, .squaredFive label:hover::after {
  opacity: 0.3;
}
.squaredTwo input[type=checkbox], .squaredThree input[type=checkbox], .squaredFour input[type=checkbox], .squaredFive input[type=checkbox] {
  visibility: hidden;
}
.squaredTwo input[type=checkbox]:checked + label:after, .squaredThree input[type=checkbox]:checked + label:after, .squaredFour input[type=checkbox]:checked + label:after, .squaredFive input[type=checkbox]  {
  opacity: 1;
}