
body {
 /* background-color: lightgrey;*/
}
p {
  font-size: 12px;
  margin: 0px;
  padding: 0px;
  
}
a {
  text-decoration: none;
}
.clear {
  clear: both;
}

.introMessageText_Img {
    background-color: white;
}


.slide {
  width: 100%;
  color: white;
  font-size: 3em;
  text-align: center;
  display: none;
}

.imgList img {
  width: 30px;
  height: 30px;
  display: inline-block;
  border-radius: 100px;
  border: 1px solid white;
}

.imgDisplay {
  height: 100%;
  width: 100%;
  /*display: none;*/
  position: relative;
}

.imgDisplay ul.imgList{
  list-style-type: none; 
  padding: 0px;
  margin: 0px;
  padding-top: 10px;
  text-align: center;
  position: absolute;
  bottom: 10px;
  left: 50%;
  transform: translate(-50%, 0px);

}

.imgDisplay ul li {
  display: inline;
}

.bigImg {
  width: 100%;
  margin: 0 auto;
}
.bigImg img {
  width: 100%;
  height: 80%;
  margin: 0 auto;
  border-radius: none;
}
.backArrow {
  position: absolute;
  left: 0px;
  top: 50%;
  transform: translate(0px, -50%);
  /*opacity: 0.5;*/
  color: #d7d2cb;
}
.fowardArrow {
  position: absolute;
  right: 0px;
  top: 50%;
  transform: translate(0px, -50%);
  /*opacity: 0.5;*/
  color: #d7d2cb;
}
.checkBoxes {
  width: 70px;
  height: 70px;
  float: left;
  position: relative;
  background: #fcecfc;
  background: -webkit-linear-gradient(top, #fcfff4 0%, #dfe5d7 40%, #b3bead 100%);
 background: linear-gradient(to bottom, #fcfff4 0%, #dfe5d7 40%, #b3bead 100%);
  box-shadow: inset 0px 1px 1px white, 0px 1px 3px rgba(0, 0, 0, 0.5);
  margin-left: 5px;
}
.checkBoxes label {
  width: 56px;
  height: 56px;
  cursor: pointer;
  position: absolute;
  left: 7px;
  top: 7px;
  background: #d7d2cb;
  box-shadow: inset 0px 1px 1px rgba(0, 0, 0, 0.5), 0px 1px 0px white;
}
.checkBoxes label:after {
  content: '';
  width: 45px;
  height: 20px;
  position: absolute;
  top: 15px;
  left: 7px;
  border: 10px solid #fcfff4;
  border-top: none;
  border-right: none;
  background: transparent;
  opacity: 0;
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
}
.checkBoxes label:hover::after {
  opacity: 0.3;
}
.checkBoxes input[type=checkbox] {
  visibility: hidden;
}
.checkBoxes input[type=checkbox]:checked + label:after {
  opacity: 1;
}

.box{
  width:68%;
  height:200px;
  background-image: url(../Images/edited-preview.jpg);
  background-color: #d7d2cb;
  background-size: 100% 100%;
  background-repeat: no-repeat;
  float: right;
  border-radius:5px;
  position: relative;
  margin-bottom: 20px;
  margin-right: 10px;
}

.removeBackgroundImage {
  display: none;
}

.imgDiv {
  text-align: center;
  width: 100%;
}
.imgDiv img {
  width: 150px;
  height: 150px
  padding: 0px;
  margin: 0px;
}


.box5{
  height: 300px;
}
.box6{
  width: 90%;
  height: 400px;
}

.shadow5,.shadow6 {
  position:relative;
}
.shadow5,.shadow6 {
    box-shadow:0 1px 4px rgba(0, 0, 0, 0.3), 0 0 20px rgba(0, 0, 0, 0.1) inset;
    padding-top: 10px;
}

.shadow5 p, .shadow6 p, .pdfSteps p {
  padding: 3px;
  font-size: 19px;
  text-align: center;
  color: white;
  background-color: #ab989d;
  margin-bottom: 10px;
  font-family: 'Courgette', cursive;
  font-weight: bold;
}

.shadows {
  padding: 3px;
  font-size: 17px;
  text-align: center;
  color: #1db2a3;
  background-color: #5ce8da;
  margin-bottom: 10px;
}
.shadow5 ul, .shadow6 ul {
  padding-left: 25px;
  padding-right: 5px;
  margin: 0px;
  text-align: left;
  font-size: 19px;
  /*color: #1db2a3;*/
  color: #35586C;
  font-weight: bold;

}
.shadow5 ul li , .shadow6 ul li {
  margin-bottom: 7px;

}
.smallerText li {
  font-size: 15px;
}

.guideThreeCheckOne p {
  font-size: 15px;
  line-height: 15px;
}

.shadow5:before, .shadow5:after{
  content:"";
  position: absolute;
  box-shadow:0 10px 25px 20px #518C96;
  top:40px;left:10px;bottom:50px;
  width:15%;
  z-index:-1;
  -webkit-transform: rotate(-8deg);
  -moz-transform: rotate(-8deg);
  transform: rotate(-8deg);
}
.shadow5:after{
  -webkit-transform: rotate(8deg);
  -moz-transform: rotate(8deg);
  transform: rotate(8deg);
  right: 10px;left: auto;
}
.shadow6:before, .shadow6:after{
  content:"";
  position: absolute;
  top:100px;bottom:5px;left:30px;right:30px;
  z-index:-1;
  box-shadow:0 0 40px 13px #486685;
  border-radius:100px/20px; 
}
.flip {
  -webkit-perspective: 800;
   width: 75%;
   height: 420px;
    position: relative;
    float: right;
}

.flip .card.flipped {
  -webkit-transform: rotatey(-180deg);
  text-align: center;
/*  background-image: none;*/

}
.flip .card.flipped .hideThis{
  display: none;
}
/*.flip .card.flipped ul {
  display: none;
}*/
.flip .card.flipped img {
  width: 100%;
  height: 50%;
}
.flip .card {
  width: 100%;
  height: 100%;
  -webkit-transform-style: preserve-3d;
  -webkit-transition: 0.5s;
}
.flip .card .face {
  width: 100%;
  height: 100%;
  position: absolute;
  -webkit-backface-visibility: hidden ;
  z-index: 2;
    /*font-family: Georgia;*/
    text-align: center;
}
.flip .card .front {
  position: absolute;
  z-index: 1;
    cursor: pointer;
}
.flip .card .back {
  -webkit-transform: rotatey(-180deg);
    color: black;
    cursor: pointer;
}
.card img {
  width: 100%;
  height: 200px;
}
.flip p {
  padding: 5px;
  font-size: 19px;
  text-align: center;
  line-height: 23px;
  color: white;
  margin-bottom: 15px;
}
.boxTitle {
  height: 60px;
  /*margin-bottom: 60px;*/
}

.largerTextP p {
  font-size: 30px;
  line-height: 30px;
}
.months {
  float: right;
  margin-right: 10px;
}
.weddingMonth {
  padding: 0px;
  float: left;
}
.weddingMonth span {
  text-align: right;
  background-color: #ab989d;
  color: white; 
}
.weddingMonth li {
  background-color: #d7d2cb;
  list-style-type: none;
  text-align: left;
  background-color: #ab989d;
  color: white; 
  padding-left: 3px;
  padding-right: 3px;
  margin-bottom: 5px;
}
.shoppingMonth {
  float: left;
}
.shoppingMonth span {
  text-align: right;
  background-color: #ab989d;
  color: white; 
}
.shoppingMonth li {
  background-color: #d7d2cb;
  list-style-type: none;
  text-align: left;
  background-color: #d7d2cb;
  color: #776e64; 
  padding-left: 3px;
  padding-right: 3px;
  margin-bottom: 5px;
}

@media screen and (min-width: 350px) {
  .months {
    float: right;
    margin-right: 40px;
  }
}

@media screen and (min-width: 400px) {
  
    .#checkBoxes {
      width: 100px;
      height: 100px;
    }

    .#checkBoxes label {
      width: 86px;
      height: 86px;
    }

    .#checkBoxes label:after {
      top: 18px;
      left: 15px;
    }

  .shadow5 p, .shadow6 p, .pdfSteps p {
    font-size: 22px;
  }

  .shadows {
    font-size: 17px;
  }
  .shadow5 ul, .shadow6 ul {
    font-size: 22px;
    padding-left: 30px;
  }
  .shadow5 ul li , .shadow6 ul li {
    margin-bottom: 5px;

  }
  .smallerText li {
    font-size: 17px;
  }
  .flip p {
    font-size: 22px;
  }

  .largerTextP p {
    font-size: 30px;
    line-height: 30px;
  }

  .months {
    float: right;
    margin-right: 60px;
  }
  .imgList img {
    width: 40px;
    height: 40px;
    display: inline-block;
    border-radius: 100px;
    border: 1px solid white;
  }

}

@media screen and (min-width: 450px) {
  .months {
    float: right;
    margin-right: 100px;
  }

  .shadow5 ul li , .shadow6 ul li {
   margin-bottom: 10px;

  }
}

@media screen and (min-width: 500px) {
  .flip .card.flipped img {
    width: 100%;
    height: 100%;
  }
  .checkBoxes {
    width: 100px;
    height: 100px;
    margin-left: 5px;
  }
  .checkBoxes label {
    width: 86px;
    height: 86px;
    left: 7px;
    top: 7px;
  }
  .checkBoxes label:after {
    width: 65px;
    height: 30px;
    top: 20px;
    left: 10px;
  }

  .bigImg img {
    width: 100%;
    height: 80%;
    margin: 0 auto;
  }
  .shadow5 ul li , .shadow6 ul li {
    margin-bottom: 5px;

  }
  .months {
    float: right;
    margin-right: 80px;
  }
  .monthBreak {
    display: none;
  }
}  

@media screen and (min-width: 600px) {
  .shadow5 p, .shadow6 p, .pdfSteps p {
    font-size: 25px;
  }
  .flip p {
    font-size: 25px;
    line-height: 30px;
  }

  .smallerText li {
    font-size: 20px;
  }

  .months {
    float: right;
    margin-right: 100px;
    font-size: 18.5px;
  }
}

@media screen and (min-width: 700px) {
    .card img {
    width: 100%;
    height: 300px;
  }
  .months {
    float: right;
    margin-right: 130px;
    font-size: 18.5px;
  }
  
}

@media screen and (min-width: 750px) {
  .checkBoxes {
    width: 150px;
    height: 150px;
    margin-left: 5px;
  }
  .checkBoxes label {
    width: 134px;
    height: 134px;
    left: 7px;
    top: 7px;
  }
  .checkBoxes label:after {
    width: 100px;
    height: 45px;
    top: 30px;
    left: 15px;
  }

  .bigImg img {
    width: 100%;
    height: 80%;
    margin: 0 auto;
  }

   .shadow5 p, .shadow6 p, .pdfSteps p {
    font-size: 30px;
  }
  .flip p {
    font-size: 30px;
    line-height: 30px;
  }
    .months {
      float: right;
      margin-right: 130px;
      font-size: 18.5px;
    }

  .shadow5 ul, .shadow6 ul {
    font-weight: normal;

  }
} 
@media screen and (min-width: 800px) {
    .months {
      float: right;
      margin-right: 150px;
      font-size: 18.5px;
    }
}
@media screen and (min-width: 900px) {
    .months {
      float: right;
      margin-right: 170px;
      font-size: 18.5px;
    }
}
@media screen and (min-width: 1000px) {
    .months {
      float: right;
      margin-right: 170px;
      font-size: 18.5px;
    }
    .shadow5 ul li , .shadow6 ul li {
      margin-bottom: 10px;

    }
}
@media screen and (min-width: 1050px) {
    .months {
      float: right;
      margin-right: 190px;
      font-size: 18.5px;
    }
}
@media screen and (min-width: 1100px) {
    .months {
      float: right;
      margin-right: 210px;
      font-size: 18.5px;
    }
}
@media screen and (min-width: 1150px) {
    .months {
      float: right;
      margin-right: 230px;
      font-size: 18.5px;
    }
}
@media screen and (min-width: 1200px) {
  .card img {
    width: 80%;
    height: 300px;
  }
  .checkBoxes {
    width: 120px;
    height: 120px;
    margin-left: 100px;
  }
  .checkBoxes label {
    width: 105px;
    height: 105px;
  }
  .checkBoxes label:after {
    width: 90px;
    height: 35px;
    top: 30px;
    left: 10px;
  }

  .imgDisplay img {
    width: 60px;
    height: 60px;
    display: inline-block;
  }
   .bigImg img {
    width: 90%;
    height: 80%;
    margin: 0 auto;
  }
    .months {
      float: right;
      margin-right: 250px;
      font-size: 18.5px;
    }
  .flip .card.flipped img {
    width: 70%;
    height: 100%;
  }
  .flip .card.flipped .lastImg img {
    width: 45%;
    height: 100%;
  }
  .flip .card.flipped .fullWidth img {
    width: 100%;
    height: 100%;
  }
  .backArrow {
    color: white;
  }
  .fowardArrow {
    color: white;
  }

 } 